.GeneralDiv{
   background: url("https://th.bing.com/th/id/R.1ae8b48c62ce77f2d2696f3723b8e8f5?rik=YwjZr5yy2m7D9Q&riu=http%3a%2f%2fst.depositphotos.com%2f1494134%2f3131%2fv%2f950%2fdepositphotos_31314591-Cooking-background-food-ingredients-and-paper.jpg&ehk=uOWXDSxWPD2kpbgcObjruGSuuVVBo5NQuwEgxclFD%2bo%3d&risl=&pid=ImgRaw&r=0")no-repeat;
   background-attachment:scroll;
   background-position:center;
   background-size: cover;
   
}
  
   
   