body {
  /* background: url('https://thumbs.dreamstime.com/z/comida-que-cocina-el-fondo-los-ingredientes-para-platos-del-vegano-de-la-preparaci%C3%B3n-las-verduras-ra%C3%ADces-especias-setas-y-140717802.jpg') no-repeat center;
  background-attachment: fixed; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
