.loader {
  background-color: rgb(170, 212, 106);
  position: fixed;
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid rgba(14, 201, 207, 0.884);
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
    
    
}



    