.loader{
    font-size: 5rem;
    color: white
}
.loader span {
    mix-blend-mode: difference;
}
.loader::after{
    content: "";
    position: absolute;
    height: calc(100%-40px);
    left:0;
    top: 20px;
    width: 30%;
    background-color: white;
    z-index: -1;
    color: black;
    overflow: hidden;
    animation: animate 4% infinite linear;
}
@keyframes animate {
    0%,
    100%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(250px);
    }
}


    