.Paginated{
    display: flex;
    padding-bottom: 200px;

}
.principalDiv{
   background: url("https://st.depositphotos.com/2576363/4639/i/950/depositphotos_46392373-stock-photo-italian-food-background.jpg") no-repeat;
   background-attachment:fixed;
   background-position: center ;
   background-size: cover;
   display: flex;
   flex-wrap: wrap;
   padding: 2px;
   padding-top: 5px ;

   
}
.CardsRecipes{
    display: flex;
    padding-top: 30px;
    flex-wrap:wrap; 
}
    
.createBtn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(170, 212, 106);
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #999;
}

.createBtn:hover {
    background-color: rgb(48, 80, 0)
}

.createBtn:active {
    background-color: #f8faf8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
   
    
    
    
