@import url(https://fonts.googleapis.com/css?family=Pattaya);


.form_cotainerBar{
  display: flex;
  background:transparent;
  padding: 2px 2px;
	top: 2%;
  width:355px;
  color: rgb(255, 225, 0);
  box-shadow:0 4px 9px rgb(255, 225, 0);
  -moz-box-shadow:0 4px 9px rgb(184, 162, 2);
  -webkit-box-shadow:0 4px 9px rgb(114, 101, 0);
  border-radius: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}
  
.form_cotainerBar input {
	background:transparent;
	border: none;
	font-family:Pattaya; 
  font-size: large;
  color: rgb(255, 225, 0);
	margin-right: 2px;
	padding: 10px;
	width: 210px;
	box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
  border-radius: 2px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px
  
}
.form_cotainerBar input:focus {
  outline: none;
  box-shadow:0 0 4px #0d76be inset;
  -moz-box-shadow:0 0 4px #0d76be inset;
  -webkit-box-shadow:0 0 4px #0d76be inset;
}
.form_cotainerBar input::-webkit-input-placeholder {
  line-height: 15px;
  color: rgb(255, 225, 0);
  font-size: large;
}
.form_cotainerBar input:-moz-placeholder {
  line-height: 15px
}
.form_cotainerBar button {
  font-size: large;
	background:  transparent;
	background: -moz-linear-gradient(top, rgb(255, 225, 0) 0%,  rgb(255, 225, 0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 225, 0)), color-stop(100%,rgb(0, 0, 0)));
	background: -webkit-linear-gradient(top, rgb(255, 225, 0) 0%, rgb(255, 225, 0) 100%);
	background: -o-linear-gradient(top, rgb(255, 225, 0) 0%, rgb(255, 225, 0) 100%);
	background: -ms-linear-gradient(top,  rgb(255, 225, 0) 0%, rgb(255, 225, 0) 100%);
	background: linear-gradient(to bottom,  rgb(255, 225, 0) 0%, rgb(255, 225, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
	border: none;
	color:black;
	cursor: pointer;
	font-family:Pattaya; 
	padding: 8px;
  margin-left: 10px;
	width:107px;
	box-shadow: 0 0 2px #2692dd inset;
	-moz-box-shadow: 0 0 2px #2692dd inset;
	-webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
.form_cotainerBar button:hover {
  background: white;
  opacity:.9;
}

@media screen and (min-width: 2500px) {
  .form_cotainerBar input{
    font-size: xx-large;
    width: 200px;
  }
}