.itemsPages{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.itemsPages h5{
    font-size: x-large;
    color:rgb(255, 225, 0);
    width: 2rem;
    border-radius: 20px 20px 2px 2px;
    font-family: Pattaya;
}

.arrowPage{
    display: flex;
    background-color: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    height: 35px;
    width: 40px;
    font-size: 25px;
    background:rgb(255, 225, 0);
    margin: 1rem;
    margin-top: 1.5rem;
}
.arrowPage:hover{
    background: white;
    border-radius: 15px;
}


@media screen and (max-width: 400px){
    .itemsPages{
      width: 100%;
    }
    .arrowPage{
        font-size: 20px;
    } 
}