@import url(https://fonts.googleapis.com/css?family=Pattaya);

.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0.5rem 0rem 0rem;
    font-family: Pattaya;
    background-color: rgb(21, 21, 21);
    color: rgb(255, 225, 0);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    text-decoration: none;
    z-index: 40;
}


.sBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30rem
}

.brand-name {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 225, 0);
    font-size: 1.3rem;
    margin-left: 3rem;
}

.navigation-menu {
    margin-left: auto;
    color: rgb(255, 225, 0);
    font-size: x-large;
}


.navigation-menu ul {
    display: flex;
    padding-top: 30px;
    color: rgb(255, 225, 0);
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    padding: 5px;
}

.navigation-menu li a {
    text-decoration: none;
    list-style: none;
    display: block;
    width: 100%;
    color: rgb(255, 225, 0);
}

.navigation-menu li a:hover{
    color: white;
    text-decoration:underline;
}
.create{
    display: none;
    text-decoration: none;
    list-style: none;
    color: rgb(255, 225, 0);
}

@media screen and (max-width:1024px) {
    .navigation-menu{
        display: none;
    }
    .create{
        display: flex;
        margin-left: 1rem;
        font-size: x-large;
        list-style: none;
        text-decoration: none;
    }
    .sBar{
        margin-left: 5rem;
    }
}
@media screen and (min-width: 2500px) {
    .sBar{
        margin-left: 63rem;
    }
    .navigation-menu{
        font-size: xx-large;
    }
    .navigation{
        height: 110px;
    }
  }






